<div class="mat-elevation-z8">
  <gpx-expandable-dynamic-table [data]="dataSource"
                                [columnSpecs]="columnSpecs"
                                [disablePaginator]="true">
    <ng-template [gpxCustomColumn]="'file'" let-element>
      <gpx-file-upload [multiple]="true"
                       [maxSize]="maxSize"
                       [noFileUploadedText]="'Keine Dateien hochgeladen.'"
                       [uploadTitle]="buildTitle(asEmployee(element).files)"
                       (uploadedFilesChange)="filesUploaded(asEmployee(element).id, $event)"
                       (maxNumberOfFilesExceededEvent)="maxNumberOfFilesExceeded($event)">
      </gpx-file-upload>
    </ng-template>

    <ng-template gpxExpansionContent let-element>
      <gpx-dynamic-table [data]="element.files"
                         [columnSpecs]="columnSpecsUploadedTable"
                         [disablePaginator]="true">
      </gpx-dynamic-table>
    </ng-template>
  </gpx-expandable-dynamic-table>
</div>
