<gpx-expandable-dynamic-table [columnSpecs]="columnSpecs"
                              [data]="data">
  <ng-template gpxExpansionMarker let-item>
    <span>{{item.firstname}} {{item.lastname}} ist am {{item.birthday | date: 'dd.MM.yyyy'}}
      geboren und ist somit {{item.age}} Jahre alt.</span>
  </ng-template>

  <ng-template [gpxAttachActions]="'after'" let-item>
    <button mat-raised-button (click)="openSnackbar(item)">Open Snackbar</button>
  </ng-template>
</gpx-expandable-dynamic-table>
