.comment-container {
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  vertical-align: center;
  cursor: pointer;
}

.comment-container > p {
  margin: 0 0;
}

.container {
  padding: 25px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
